
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

input[type=text]:focus, input[type=lisno]:focus {
    background-color: #ddd;
    outline: none;
  }

  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


button {
  background-color: #cc7722;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}


.cancelbtn1 {
  padding: 14px 20px;
  background-color: #f44336;

}


.cancelbtn1, .signupbtn {
  float: left;
  width: 100%;
}


.container {
  padding: 16px;
  background-color: #f9f9f9;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

.dropbtn {
    background-color: #cc7722;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
 
  .dropdown-content {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
  }
  
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
 
  .dropdown-content a:hover {background-color: #ddd;}
  
 
  .dropdown:hover .dropdown-content {display: block;}
  

  .dropdown:hover .dropbtn {background-color: #3e8e41;}


