#side-trips {  
    background-color: #2c3e50;  
    color: white;   
    padding-left: 20px;  
    margin-top: 10px; 
    margin-left: 5px; 
    height: calc(100vh - 9vh); 
    border-radius: 8px;  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);  
  }  
  #side-trips h1 {  
    text-align: center;  
    font-size: 30px;  
  }  
    
  #side-trips ul {  
    list-style-type: none;  
    padding: 0;  
    margin: 20px 0;  
  }  
    
  #side-trips ul li {  
    margin: 20px 0;  
  }  
    
  #side-trips ul li a {  
    color: white;  
    text-decoration: none;  
    font-size: 18px;  
    transition: color 0.3s;  
    cursor: pointer;  
  }


.schedule {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0; 
    color: rgb(124, 5, 5);
}

.services {
    margin-bottom: 20px;
}

.service {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: white;
}

.service h3 {
    margin: 0 0 10px;
    color: red;
}

.status {
    font-weight: bold;
    color: red; 
}

.footer {
    text-align: center;
    font-size: 14px;
    color: gray;
}

p {
    font-size: 15px;
}

.container {
    max-width: 800px; 
    margin: 0 auto;   
    padding: 20px;    
}