.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    background: linear-gradient(to right, darkred, rgba(255, 0, 0, 0.363));
}

.navbar-left .brand {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-right .link {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1em;
}

.navbar-right .link:hover {
    text-decoration: underline;
    color: blue;
}

.baton{
    background: linear-gradient(to right, darkred, rgba(255, 0, 0, 0.363));
}