.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.sidebar {
  position: fixed;
  top: 50px; 
  left: 0;
  height: calc(100% - 50px); 
  width: 250px;
  background-color: #333;
  color: white;
  padding-top: 20px;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  color: rgb(238, 220, 220);
  display: block;
  cursor: pointer;
}

.sidebar a:hover {
  background-color: #575757;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: hsl(76, 35%, 58%);
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 1000; 
}

.content {
  margin-left: 200px;
  padding: 70px 20px 20px 20px; 
  box-sizing: border-box;
  width: calc(100% - 200px);
}

.drivers-list {
  list-style-type: none;
  padding: 0;
}

.drivers-list li {
  background-color: #f4f4f4;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.row {
  display: flex;
  margin-top: 50px; 
  height: calc(100% - 50px); 
}


.col-4 {
  flex: 0 0 33.33%; 
  background-color: #161a13;
  padding: 20px;
  box-sizing: border-box;
  height: calc(100% - 50px); 
}


.col-8 {
  flex: 0 0 66.67%;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto; 
}

.customers-list {
  display: flex;
  flex-direction: column; 
  gap: 20px; 
  align-items: center; 
  width: 100%; 
}

.customer-item {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: 80%; 
  max-width: 600px; 
  text-align: left; 
}

.customer-field {
  margin-bottom: 10px;
}

.customer-field strong {
  display: inline-block;
  width: 120px; 
}

.customer-item:nth-child(odd) {
  background-color: #b7be8e; 
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.cards-container {
  display: flex;
  flex-direction: column; 
  gap: 20px; 
}


.card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  flex: 1;
  min-width: 250px; 
  cursor: pointer;
  transition: background-color 0.3s;
}


@media (max-width: 992px) {
  .sidebar {
    width: 200px;
    height: calc(100% - 50px); 
  }

  .content {
    margin-left: 200px; 
    width: calc(100% - 200px); 
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    top: auto;
    padding: 10px;
  }

  .content {
    margin-left: 0;
    width: 100%;
    padding: 20px;
  }
}

@media (max-width: 576px) {
  .sidebar {
    width: 100%;
    padding: 10px;
  }

  .content {
    padding: 10px;
  }
}
